<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzeria - Dettaglio Pizza</title>
    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" />
</head>

<body>
    <div th:replace="~{ fragments/navbar :: navbar }"></div>

    <main>
        <div class="container mt-5" th:object="${pizza}">
            <div class="row">
                <div class="col d-flex justify-content-start">
                    <img th:src="*{img}" class="h-50">
                    <div class="ms-3">
                        <h3 th:text="'Dettaglio ' + *{name}"></h3>
                        <h5 th:text="${pizza.toString()}"></h5>
                        <p th:text="*{description}"></p>
                        <hr>
                        <h3>Offerte disponibili</h3>
                        <div th:unless="${offers}" class="bg-warning-subtle p-3">Non sono disponibili offerte per questa pizza</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>